snippet из "insert lab figure" bA
\begin{figure}[ht!]
    \center{\includegraphics[width=$1\linewidth]{$2}}
\end{figure}
$0
endsnippet

snippet сп "Enumerate" bA
\begin{enumerate}
    \item $1
\end{enumerate}
$0
endsnippet

snippet -- "~---" iA
~--- $0
endsnippet
